[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dialog-bot-sdk = "*"
pymongo = "*"
grpc = "*"
time = "*"
setup-py = {editable = true,version = "*"}

[requires]
python_version = "3.7"
